@media screen and (max-width:750px){
    .description-area{
        height: auto;
        width: 90%;
        padding: 15px 25px;
        box-sizing: border-box;
        background: rgba(0,0, 0, 0.05);
        border:none;
        border-radius: 10px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    
    .description-area h4{
        font-size: 20px;
        font-weight: 300;
    }
    
    .description-area p{
        color:gray;
        font-size: 14px;
        font-weight: 300;
        text-align: left;
        font-style: italic;
    }
}