.ctr-home{
    height:auto;
    width:100%;
    padding:10px;
    box-sizing: border-box;
    background: white;

    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}           



